# Visual Studio Code
.vscode/

# Node.js
node_modules/
test-results/
playwright-report/
blob-report/
playwright/.cache/

# cache
.eslintcache

# dotenvx
config/.env.*
!config/.env.example
config/.env.keys
