name: Playwright Tests
on:
  push:
    branches: [main]
  pull_request_target:
    types: [opened, edited, reopened, synchronize]
    branches: [main]
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run tests against'
        required: true
        default: 'local'
        type: choice
        options:
          - local
          - dev

env:
  TEST_ENV: ${{ github.event.inputs.environment || 'local' }}

jobs:
  e2e-tests:
    name: Run E2E Tests
    if: ${{ github.event_name == 'push' || github.event_name == 'pull_request_target' || github.event.inputs.environment == 'local' || github.event_name == 'workflow_dispatch' }}
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Setup test target
        if: ${{ env.TEST_ENV == 'local' }}
        run: |
          git clone https://github.com/takeyaqa/hotel-example-site test-target
          cd test-target
          pnpm install
          pnpm run build

      - name: Install Playwright Browsers
        run: pnpm exec playwright install chromium --with-deps

      - name: Run Playwright tests
        run: pnpm exec playwright test

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
