name: Playwright Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run tests against'
        required: true
        default: 'local'
        type: choice
        options:
          - local
          - dev

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      TEST_ENV: ${{ github.event.inputs.environment || 'local' }}
      BASE_URL: ${{ (github.event.inputs.environment == 'dev') && 'https://hotel-example-site.takeyaqa.dev' || 'http://localhost:8080' }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Clone test target (Local only)
        if: ${{ env.TEST_ENV == 'local' }}
        run: git clone https://github.com/takeyaqa/hotel-example-site test-target

      - name: Setup test target (Local only)
        if: ${{ env.TEST_ENV == 'local' }}
        run: |
          cd test-target
          pnpm install
          pnpm run build

      - name: Install Playwright Browsers
        run: pnpm exec playwright install chromium --with-deps

      - name: Run Playwright tests
        run: pnpm exec playwright test
        env:
          BASE_URL: ${{ env.BASE_URL }}

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
